<form action="/random/results">
  
  <div>
    <label for="first">Minimum</label>
    <input id="first" type="text" placeholder="E.g. 1.5" name="min">
  </div>

  <div>
    <label for="second">Maximum</label>
    <input id="second" type="text" placeholder="E.g. 4.5" name="max">
  </div>

  <button>Pick random number</button>
</form>
