<form action="/square/results">
  <label for="square">Enter a number</label>
  <input id="square" name="number" type="text" placeholder="What number do you want">
  <button>Calculate square</button>
</form>
