<form action="/square/results">
  
  <div>
    <label for="square">Enter a number</label>
  </div>

  <div>
    <input id="square" name="number" type="text" placeholder="What number do you want">
  </div>

  <button>Calculate square</button>
</form>
